
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin:0;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}
.color-1{
    color:darkcyan;
}
.color-2{
    color:darkslategray;
}

.flexiable-container{
    display: flex;
    margin-bottom: 100px;
    margin: 0px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
    margin-top: 2%;
    margin-left: 20%;
    max-width: 100%;
}

.half-width-2{
    width: 50%;
    padding-right: 20%;
    font-size: 100%;
}
.half-width-2 img {
    width: 100%;
    max-width: 100%;


}
.btn{
    background-image: linear-gradient(orange,tomato);
    color: white;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-in-out;  
    box-shadow: 5px 10px 30px rgba(245, 149, 5, 0.945);
    border-radius: 5px;
    font-size: 20px;
}
.top1{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-top: -30px;
    max-width: 100%;
   
}
.top2{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    margin-top: 40px;
    max-width: 100%;
    

}   
.half-width-3{

    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10px; 
    margin-bottom:10% ;
    box-shadow: 10px 10px 40px rgba(245, 149, 5, 0.945);
    border-radius: 10px;
    border-left: 10px solid orange;
    background-color: rgba(240, 248, 255, 0.007);

}
.top3{
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left-top;
    max-width: 100%;
}
#id_1{
    border-left: 10px solid aqua;
}
#id_2{
    border-left: 10px solid darkcyan;
}
footer{
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 5px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .half-width, .half-width-2, .half-width-3 {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .half-width img {
        width: 100%;
        margin: 0;
    }
    .half-width-2 {
        padding-right: 0;
    }
    .btn {
        margin-top: 10px; /* Add some space above the buttons */
    }
}

