body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
.color-1{
    color:darkcyan;
}
.color-2{
    color:darkslategray;
}

.flexiable-container{
    display: flex;
    margin-bottom: 100px;
    margin: 0px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
    margin-top: 2%;
    margin-left: 20%;
}

.half-width-2{
    width: 50%;
    padding-right: 20%;
    font-size: 100%;
}
.half-width-2 img {
    width: 100%;


}
.btn{
    background-image: linear-gradient(orange,tomato);
    color: white;
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.5s ease-in-out;  
    box-shadow: 5px 10px 30px rgba(245, 149, 5, 0.945);
    border-radius: 5px;
    font-size: 20px;
}
.top1{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-top: -20px;
}
.top2{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    margin-top:20px;

}   
.half-width-3{

    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10px; 
    margin-bottom:10% ;
    box-shadow: 10px 10px 40px rgba(245, 149, 5, 0.945);
    border-radius: 10px;

}
.top3{
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left-top;

}